  .main-post {
      width: 95%;
      padding-top: 3%;
      padding-left: 5%;
    }

    ul.posts {
      font-size: 20px;
      list-style: none;
      line-height: 50px;
    }

    #article {
      margin-bottom: 3%;
      background-color: #f9f9f9;
      box-shadow: 1px 1px 0 1px #e8e8e8;
      padding: 10px 40px 0;
    }

    #article h1 {
      color: #3a3a3a;
    }

    #article a {
      text-indent: 40px;
      color: #6c7077;
      font-family: "Helvetica Neue", helvetica, "Open Sans", sans-serif;
      font-weight: 300;
      font-size: 1.3em;
      text-shadow: 1px 1px #fff;
    }

    .article-image {
      width: 30px;
      height: 30px;
      margin-right: 5px;
    }
    
    time {
      color: #c9c9c9;
      font-family: "Helvetica Neue", helvetica, "Open Sans", sans-serif;
      font-weight: 100;
      text-shadow: 1px 1px #fff;
      float: right !important;
    }
