        #wrap{
            width:100%;
            height:100%;
            position:absolute;
            margin: -8px -8px 0px -8px;
        }
        
        /*post 1*/ 
        div.post1{
            width:100%;
            height:100%;
            background-image:url("../Posts/Profile/background.jpg");
            background-repeat:no-repeat;
            background-size:cover;
            position:absolute;
         }
         .post1 p{
            margin-top:13%;
            margin-left:30%;
            position:relative;
            color:#FFFFFF;
            font-family: "Helvetica Neue", helvetica, "Open Sans", sans-serif;
            font-size : 60px;
        }
         .post1 font{    /*타이핑 효과 텍스트*/
            top: 20px;
            position:relative;
            font-family: "Helvetica Neue", helvetica, "Open Sans", sans-serif;
            font-weight:600;
            display: inline-block; /*한줄로 표기*/
            overflow: hidden;
            animation-name: typing;  /*애니메이션 이름*/
            animation-duration: 3s; /*몇초동안 반복한건지*/
            animation-iteration-count: infinite; /*몇번 반복할건지*/
            animation-timing-function: steps(30,end); /*애니메이션 속도(가속/감속 시간간격등 설정)*/
        }
        @keyframes typing { /*애니메이션 */
            0%{width:0%}
            100%{width: 380px};
        }
        .post1>.banner{
            margin-left:5%;
            margin-top: 5%;
            width:95%;
            text-align: center;
        }
        .banner a{
            margin-right: 4%;
            text-decoration:none;
            color:#FFFFFF;
            font-size : 36px;
        }
        .post1>.sns{
            margin-top: -3%;
            width:100%;
            text-align: center;
        }
         .sns img{
            width: 25px;
            height: 25px;
        }
        .sns a{
            margin-right: 1%;
            text-decoration:none;
            color:#FFFFFF;
            font-size : 24px;
        }

        /* post 2번*/
        div.post2{
            top: 100%; /* 400크기 중에 100부터 시작 2번째*/
            width:100%;
            height:100%;
            padding-top: 5%;
            background-color:black;
            position:absolute;
         }
        .post2>txt-intro{
            padding-top: 2%; 
            float: left; 
            width: 66%; 
            height: 66%
        }
        .post2>in1{
            margin-left:20px; 
            float: left; 
            width: 50%;
        }
        
        .post2 img{
            margin: 30px 0px 20px 20px;
            width: 300px;
            height 500px;
        }
        .post2 p{
           color:#FFFFFF;
           font-size : 18px;
        }
        
        /*post 3*/ 
        div.post3{
            top: 200%;/* 400크기 중에 200부터 시작 3번째*/
            width:100%;
            height:100%;
            background-color:#212121;
            position:absolute;
         }
        .post3>.in2{
            padding: 30px 0px 20px 20px; 
            float: left; 
            width: 30%;
            height: 50%;
        }
        .post3>.in2 img{
            width: 80%;
            height: 100%;
        }
        .post3 font{
            font-weight:600; 
            font-size:24px; 
            color:#FFFFFF;
        }
        
        /*post 4*/ 
        div.post4{
            top: 300%; /* 400크기 중에 300부터 시작 4번째*/
            width:100%;
            height:100%;
            background-color:black;
            position:absolute;
         }
        .post4>.in2{
            margin-left: 5%;
            overflow-y:hidden; 
            width:90%; 
            height:70%;
            overflow-x: scroll;
            white-space:nowrap
        }
        .post4 img{
            padding:2%;  
            width:33%; 
            height:95%;
        }
        #footers { /* © 2019 KONG · 2019-03-01 로고 스타일 */
            padding-top: 3%;
            padding-left:5%;
            padding-right:3%;
        }
        
        #footers font {
            color: white;
        }
        #footers a{
            text-decoration:none; /*a 태그 밑줄 표기 안함*/
            color:#FFD9EC;
            font-weight:600; 
            font-size:20px;
        }    
        #footers a:hover {
            color: #D1B2FF;
            -o-transition: .5s;
            -ms-transition: .5s;
            -moz-transition: .5s;
            -webkit-transition: .5s;
            transition: .5s
        }
        .title{
            margin-top: 2%; 
            margin-botttom: 4%;  
            float: left; 
            width: 100%; 
            text-align: center;
        }
        .title font{
            font-weight:600; 
            font-size:64px;
            color:#FFFFFF; 
            letter-spacing: 30px;
        }
