 /*타이핑 효과 텍스트*/
        font.typing-txt{
            top: 20px;
            position:relative;
            font-family: "Helvetica Neue", helvetica, "Open Sans", sans-serif;
            font-weight:600;
            display: inline-block; /*한줄로 표기*/
            overflow: hidden;
            animation-name: typing;  /*애니메이션 이름*/
            animation-duration: 3s; /*몇초동안 반복한건지*/
    	    animation-iteration-count: infinite; /*몇번 반복할건지*/
    	    animation-timing-function: steps(30,end); /*애니메이션 속도(가속/감속 시간간격등 설정)*/
        }
        @keyframes typing {
            0%{width:0%}
            100%{width: 380px};
        }
      
        p.iam{
        margin-top:13%;
        margin-left:30%;
        position:relative;
        color:#FFFFFF;
        font-family: "Helvetica Neue", helvetica, "Open Sans", sans-serif;
        font-size : 60px;
        }
        
        /* Div 1번*/
        #wrap{
            width:100%;
            height:400%;
            position:absolute;
            margin: -8px -8px 0px -8px;
        }
        div.post1{
            width:100%;
            height:25%;
            background-image:url("background.jpg");
            background-repeat:no-repeat;
            background-size:cover;
            position:absolute;
         }
