    .python-import{
      color : #6799FF
    }
    .python-function{
      color : #DF4A68
    }
      .python-string{
      color : #95B668
    }
     .python-int{
      color : #E57523
    }
     .python-equals{
      color : #A77F71
    }
